{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main %}  

<div class="mt-3 container">
    <div class="container">
        {% if status %}
            <div class="alert alert-danger">
                <strong>{{ status}}:</strong> Please enter valid credentials
            </div>
        {% endif %}
    </div>
    <div class="text-center">
        <h1>Nursery Inventory System | Customer Login</h1>
    </div>
    <hr>
    <div class="mt-5 row">
        <div class="col-4"></div>
        <div class="col-4">
            <form action="{% url 'authenticate' %}" method="POST">
                {% csrf_token %}                        
                {{ form | crispy }}
                <center>
                    <input type="submit" value="Login" class="btn btn-primary"> Not registered, <a href="{% url 'registration' %}">Register Now!</a>
                </center>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>

{% endblock %}